In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [4]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
#District Summary
#Calculate the total number of schools - done
#Calculate the total number of students - done
#Calculate the total budget - done
#Calculate the average math score - done
#Calculate the average reading score - done
#Calculate the percentage of students with a passing math score (70 or greater) - done
#Calculate the percentage of students with a passing reading score (70 or greater) - done
#Calculate the percentage of students who passed math and reading (% Overall Passing)
#Create a dataframe to hold the above results
#Optional: give the displayed data cleaner formatting

In [7]:
#Calculate the total number of schools
show_schools = school_data_complete["school_name"].unique()
show_schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [8]:
num_schools = int(len(show_schools))
num_schools

15

In [9]:
#Calculate the total number of students
num_students = int(len(school_data_complete["Student ID"]))
num_students

39170

In [10]:
#Calculate the total budget
total_budget = int(school_data_complete["budget"].unique().sum())
total_budget

24649428

In [11]:
#Calculate the average math score
avg_math = round(school_data_complete["math_score"].mean(), 6)
avg_math

78.985371

In [12]:
#Calculate the average reading score
avg_read = round(school_data_complete["reading_score"].mean(), 6)
avg_read

81.87784

In [13]:
#Calculate the percentage of students with a passing math score (70 or greater)
math_pass = len(school_data_complete.loc[school_data_complete["math_score"] >= 70, :])
math_pass
math_total = len(school_data_complete["math_score"])
math_total
math_pass_pct = round((math_pass / math_total)*100, 6)
math_pass_pct

74.980853

In [14]:
#Calculate the percentage of students with a passing reading score (70 or greater)
read_pass = len(school_data_complete.loc[school_data_complete["reading_score"] >= 70, :])
read_pass
read_total = len(school_data_complete["reading_score"])
read_total
read_pass_pct = round((read_pass / read_total)*100, 6)
read_pass_pct

85.805463

In [15]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
both_pass = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
both_pass
both_pass_pct = round((len(both_pass) / num_students)*100, 6)
both_pass_pct

65.172326

In [16]:
#Create a dataframe to hold the above results
summary_df = pd.DataFrame({"Total Schools": [num_schools],
                           "Total Students": [num_students],
                           "Total Budget": [total_budget],
                           "Average Math Score": [avg_math],
                           "Average Reading Score": [avg_read],
                           "% Passing Math": [math_pass_pct],
                           "% Passing Reading": [read_pass_pct],
                           "% Overall Passing": [both_pass_pct]
                            })
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [17]:
#Optional: give the displayed data cleaner formatting
summary_df2 = pd.DataFrame({"Total Schools": [num_schools],
                           "Total Students": [num_students],
                           "Total Budget": [total_budget],
                           "Average Math Score": [avg_math],
                           "Average Reading Score": [avg_read],
                           "% Passing Math": str(math_pass_pct)+"%",
                           "% Passing Reading": str(read_pass_pct)+"%",
                           "% Overall Passing": str(both_pass_pct)+"%",
                            })
summary_df2.style.hide_index()

In [18]:
#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#% Overall Passing (The percentage of students that passed math and reading.)
#Create a dataframe to hold the above results

In [24]:
huang_df = school_data_complete.loc[school_data_complete["school_name"] == "Huang High School", :]
huang_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [23]:
grouped_schools_df = school_data_complete.groupby(['school_name'])
grouped_schools_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [25]:
grouped_school_2 = school_data_complete.set_index('school_name').groupby(['school_name'])
grouped_school_2.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [27]:
school_type = school_data_complete.set_index('school_name')['type']
school_type

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object