In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset. 
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [134]:
#school_data_complete.head()

In [135]:
#student_data.head()

In [136]:
#school_data.head()

In [5]:
#District Summary
#Calculate the total number of schools - done
#Calculate the total number of students - done
#Calculate the total budget - done
#Calculate the average math score - done
#Calculate the average reading score - done
#Calculate the percentage of students with a passing math score (70 or greater) - done
#Calculate the percentage of students with a passing reading score (70 or greater) - done
#Calculate the percentage of students who passed math and reading (% Overall Passing)
#Create a dataframe to hold the above results
#Optional: give the displayed data cleaner formatting

In [6]:
#Calculate the total number of schools
show_schools = school_data_complete["school_name"].unique()
show_schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [7]:
num_schools = int(len(show_schools))
num_schools

15

In [8]:
#Calculate the total number of students
num_students = int(len(school_data_complete["Student ID"]))
num_students

39170

In [9]:
#Calculate the total budget
total_budget = int(school_data_complete["budget"].unique().sum())
total_budget

24649428

In [10]:
#Calculate the average math score
avg_math = round(school_data_complete["math_score"].mean(), 6)
avg_math

78.985371

In [11]:
#Calculate the average reading score
avg_read = round(school_data_complete["reading_score"].mean(), 6)
avg_read

81.87784

In [12]:
#Calculate the percentage of students with a passing math score (70 or greater)
math_pass = len(school_data_complete.loc[school_data_complete["math_score"] >= 70, :])
math_pass
math_total = len(school_data_complete["math_score"])
math_total
math_pass_pct = round((math_pass / math_total)*100, 6)
math_pass_pct

74.980853

In [13]:
#Calculate the percentage of students with a passing reading score (70 or greater)
read_pass = len(school_data_complete.loc[school_data_complete["reading_score"] >= 70, :])
read_pass
read_total = len(school_data_complete["reading_score"])
read_total
read_pass_pct = round((read_pass / read_total)*100, 6)
read_pass_pct

85.805463

In [14]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
both_pass = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
both_pass
both_pass_pct = round((len(both_pass) / num_students)*100, 6)
both_pass_pct

65.172326

In [15]:
#Create a dataframe to hold the above results
summary_df = pd.DataFrame({"Total Schools": [num_schools],
                           "Total Students": [num_students],
                           "Total Budget": [total_budget],
                           "Average Math Score": [avg_math],
                           "Average Reading Score": [avg_read],
                           "% Passing Math": [math_pass_pct],
                           "% Passing Reading": [read_pass_pct],
                           "% Overall Passing": [both_pass_pct]
                            })
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [16]:
#Optional: give the displayed data cleaner formatting
summary_df2 = pd.DataFrame({"Total Schools": [num_schools],
                           "Total Students": [num_students],
                           "Total Budget": [total_budget],
                           "Average Math Score": [avg_math],
                           "Average Reading Score": [avg_read],
                           "% Passing Math": str(math_pass_pct)+"%",
                           "% Passing Reading": str(read_pass_pct)+"%",
                           "% Overall Passing": str(both_pass_pct)+"%",
                            })
summary_df2.style.hide_index()

In [17]:
#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#% Overall Passing (The percentage of students that passed math and reading.)
#Create a dataframe to hold the above results

In [18]:
#Set School Name as index, group by school
grouped_schools = school_data_complete.set_index('school_name').groupby(['school_name'])
grouped_schools.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [19]:
#School Type
school_type = school_data.set_index('school_name')['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [20]:
#Total Students
student_tot = school_data.set_index('school_name')['size']
student_tot

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [21]:
#Total School Budget
school_budget = school_data.set_index('school_name')['budget']
school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [22]:
#Per Student Budget
#budget / size for each school
student_budget = school_data.set_index('school_name')['budget'] / school_data.set_index('school_name')['size']
student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [23]:
#Average Math Score
school_math = grouped_schools["math_score"].mean()
school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [24]:
#Average Reading Score
school_read = grouped_schools["reading_score"].mean()
school_read

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [25]:
#% Passing Math
school_math_pass = school_data_complete[school_data_complete["math_score"] >= 70]
school_math_pass_2 = (school_math_pass.groupby("school_name")["math_score"].count()/student_tot)*100
school_math_pass_2

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [26]:
#% Passing Reading
school_read_pass = school_data_complete[school_data_complete["reading_score"] >= 70]
school_read_pass_2 = (school_math_pass.groupby("school_name")["reading_score"].count()/student_tot)*100
school_read_pass_2

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [27]:
#% Overall Passing (The percentage of students that passed math and reading.)
school_over_pass = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
school_over_pass_2 = (school_over_pass.groupby("school_name")["math_score"].count()/student_tot)*100
school_over_pass_2

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [99]:
#Create a dataframe to hold the above results
school_summary = pd.DataFrame({
                             "School Type": school_type,
                             "Total Students": student_tot,
                             "Total School Budget": school_budget, 
                             "Per Student Budget": student_budget, 
                             "Average Math Score": school_math, 
                             "Average Reading Score": school_read, 
                             "% Passing Math": school_math_pass_2, 
                             "% Passing Reading": school_read_pass_2, 
                             "% Overall Passing": school_over_pass_2
                              })
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,66.680064,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,94.133477,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,65.988471,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,68.309602,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,93.392371,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,66.752967,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,92.505855,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,65.683922,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,66.057551,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,94.594595,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,66.366592,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,93.867121,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,93.272171,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,93.867718,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,93.333333,90.333333

In [100]:
#Sort and display the top five performing schools by % overall passing
sorted_over_pass = school_summary.sort_values("% Overall Passing", ascending = False)
sorted_over_pass.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,94.133477,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,93.272171,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,93.392371,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,93.867718,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,94.594595,90.540541

In [101]:
#Sort and display the five worst-performing schools by % overall passing.
bottom_over_pass = school_summary.sort_values("% Overall Passing")
bottom_over_pass.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,66.366592,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,65.988471,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,65.683922,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,66.752967,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,66.057551,53.539172

In [102]:
#Math Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
#Group each series by school
#Combine the series into a dataframe
#Optional: give the displayed data cleaner formatting

In [103]:
ninth = school_data_complete.loc[school_data_complete['grade'] == "9th"]
math9 = ninth.groupby("school_name")["math_score"].mean()
math9

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [104]:
tenth = school_data_complete.loc[school_data_complete['grade'] == "10th"]
math10 = tenth.groupby("school_name")["math_score"].mean()
math10

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [105]:
eleventh = school_data_complete.loc[school_data_complete['grade'] == "11th"]
math11 = eleventh.groupby("school_name")["math_score"].mean()
math11

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [106]:
twelfth = school_data_complete.loc[school_data_complete['grade'] == "12th"]
math12 = twelfth.groupby("school_name")["math_score"].mean()
math12

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [107]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [108]:
math_by_grade = pd.DataFrame({
                             "9th": math9,
                             "10th": math10,
                             "11th": math11, 
                             "12th": math12, 
                             })
math_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [109]:
#Reading Score by Grade
#Perform the same operations as above for reading scores

read9 = ninth.groupby("school_name")["reading_score"].mean()
read10 = tenth.groupby("school_name")["reading_score"].mean()
read11 = eleventh.groupby("school_name")["reading_score"].mean()
read12 = twelfth.groupby("school_name")["reading_score"].mean()

In [110]:
read_by_grade = pd.DataFrame({
                             "9th": read9,
                             "10th": read10,
                             "11th": read11, 
                             "12th": read12, 
                             })
read_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [111]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

In [112]:
#creating bins for wanted spending ranges and gave them descriptive names
by_spending2 = school_summary
by_spending2.head()

bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [113]:
#sliced the data into the bins
pd.cut(by_spending["Per Student Budget"], bins, labels=group_names).head()

Bailey High School      $585-630
Cabrera High School        <$585
Figueroa High School    $630-645
Ford High School        $630-645
Griffin High School     $585-630
Name: Per Student Budget, dtype: category
Categories (4, object): ['<$585' < '$585-630' < '$630-645' < '$645-680']

In [114]:
#put the data into the new column we are going to use
by_spending2["Spending Ranges (Per Student)"] = pd.cut(by_spending2["Per Student Budget"], bins, labels=group_names)
by_spending2.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,66.680064,54.642283,$585-630
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,94.133477,91.334769,<$585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,65.988471,53.204476,$630-645
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,68.309602,54.289887,$630-645
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,93.392371,90.599455,$585-630

In [115]:
# grouped and called out which columns to display.  calculated the mean for each of the wanted columns.
by_spending_group = by_spending2.groupby("Spending Ranges (Per Student)")
by_spending_group[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,93.460096,90.369459
$585-630,81.899826,83.155286,87.133538,87.133538,81.418596
$630-645,78.518855,81.624473,73.484209,73.484209,62.857656
$645-680,76.997210,81.027843,66.164813,66.164813,53.526855

In [116]:
#Perform the same operations as above, based on school size.

In [117]:
#creating bins for school size ranges and gave them descriptive names
bins2 = [0, 1000, 2000, 5000]
group_names2 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

by_size = school_summary
by_size.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,66.680064,54.642283,$585-630
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,94.133477,91.334769,<$585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,65.988471,53.204476,$630-645
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,68.309602,54.289887,$630-645
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,93.392371,90.599455,$585-630

In [118]:
#sliced the data into the bins
pd.cut(by_size["Total Students"], bins2, labels=group_names2).head()

Bailey High School       Large (2000-5000)
Cabrera High School     Medium (1000-2000)
Figueroa High School     Large (2000-5000)
Ford High School         Large (2000-5000)
Griffin High School     Medium (1000-2000)
Name: Total Students, dtype: category
Categories (3, object): ['Small (<1000)' < 'Medium (1000-2000)' < 'Large (2000-5000)']

In [119]:
#put the data into the new column we are going to use
by_size["School Size"] = pd.cut(by_spending2["Total Students"], bins2, labels=group_names2)
by_size.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,66.680064,54.642283,$585-630,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,94.133477,91.334769,<$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,65.988471,53.204476,$630-645,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,68.309602,54.289887,$630-645,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,93.392371,90.599455,$585-630,Medium (1000-2000)

In [120]:
# grouped and called out which columns to display. 
by_size_group = by_size.groupby("School Size")
by_size_group[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,93.550225,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,93.599695,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,69.963361,58.286003

In [121]:
#* Perform the same operations as above, based on school type

In [130]:
by_type = school_summary.set_index('School Type').groupby(['School Type'])
by_type.head()

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
School Type,,,,,,,,,,
District,4976,3124928,628.0,77.048432,81.033963,66.680064,66.680064,54.642283,$585-630,Large (2000-5000)
Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,94.133477,91.334769,<$585,Medium (1000-2000)
District,2949,1884411,639.0,76.711767,81.158020,65.988471,65.988471,53.204476,$630-645,Large (2000-5000)
District,2739,1763916,644.0,77.102592,80.746258,68.309602,68.309602,54.289887,$630-645,Large (2000-5000)
Charter,1468,917500,625.0,83.351499,83.816757,93.392371,93.392371,90.599455,$585-630,Medium (1000-2000)
District,4635,3022020,652.0,77.289752,80.934412,66.752967,66.752967,53.527508,$645-680,Large (2000-5000)
Charter,427,248087,581.0,83.803279,83.814988,92.505855,92.505855,89.227166,<$585,Small (<1000)
District,2917,1910635,655.0,76.629414,81.182722,65.683922,65.683922,53.513884,$645-680,Large (2000-5000)
Charter,962,585858,609.0,83.839917,84.044699,94.594595,94.594595,90.540541,$585-630,Small (<1000)
Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,93.867121,89.892107,$585-630,Medium (1000-2000)

In [133]:
# called out which columns to display. 
by_type[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,93.620830,90.432244
District,76.956733,80.966636,66.548453,66.548453,53.672208