In [9]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [10]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [ ]:
#District Summary
#Calculate the total number of schools - done
#Calculate the total number of students - done
#Calculate the total budget - done
#Calculate the average math score - done
#Calculate the average reading score - done
#Calculate the percentage of students with a passing math score (70 or greater) - done
#Calculate the percentage of students with a passing reading score (70 or greater) - done
#Calculate the percentage of students who passed math and reading (% Overall Passing)
#Create a dataframe to hold the above results
#Optional: give the displayed data cleaner formatting

In [16]:
#Calculate the total number of schools
show_schools = school_data_complete["school_name"].unique()
show_schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [19]:
num_schools = int(len(show_schools))
num_schools

15

In [24]:
#Calculate the total number of students
num_students = int(len(school_data_complete["Student ID"]))
num_students

39170

In [37]:
#Calculate the total budget
total_budget = int(school_data_complete["budget"].unique().sum())
total_budget

24649428

In [35]:
#Calculate the average math score
avg_math = round(school_data_complete["math_score"].mean(), 6)
avg_math

78.985371

In [39]:
#Calculate the average reading score
avg_read = round(school_data_complete["reading_score"].mean(), 6)
avg_read

81.87784

In [46]:
#Calculate the percentage of students with a passing math score (70 or greater)
math_pass = len(school_data_complete.loc[school_data_complete["math_score"] >= 70, :])
math_pass
math_total = len(school_data_complete["math_score"])
math_total
math_pass_pct = round((math_pass / math_total)*100, 6)
math_pass_pct

74.980853

In [47]:
#Calculate the percentage of students with a passing reading score (70 or greater)
read_pass = len(school_data_complete.loc[school_data_complete["reading_score"] >= 70, :])
read_pass
read_total = len(school_data_complete["reading_score"])
read_total
read_pass_pct = round((read_pass / read_total)*100, 6)
read_pass_pct

85.805463

In [62]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
both_pass = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
both_pass
both_pass_pct = round((len(both_pass) / num_students)*100, 6)
both_pass_pct

65.172326

In [70]:
#Create a dataframe to hold the above results
summary_df = pd.DataFrame({"Total Schools": [num_schools],
                           "Total Students": [num_students],
                           "Total Budget": [total_budget],
                           "Average Math Score": [avg_math],
                           "Average Reading Score": [avg_read],
                           "% Passing Math": [math_pass_pct],
                           "% Passing Reading": [read_pass_pct],
                           "% Overall Passing": [both_pass_pct]
                            })
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [71]:
#Optional: give the displayed data cleaner formatting